<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Create</title>
    <link rel="stylesheet"  href="{% static 'customer_create.css' %}" />
</head>
<body>
<div class="title"> Please create customer here. </div>
<input type="button" id="btn_insert" value="Back" onclick="javascrtpt:window.location.href='/customerlist'"/>
<div id="list">
<form action='.' method="POST" >{% csrf_token %}
	<p><label class="label_input">Name</label> {{form.name}}</p>
	<p><label class="label_input">Address</label> {{form.address}}</p>
	<p><label class="label_input">Annual Income</label> {{form.cga_income}}</p>
	<p><p><label class="label_input">Company</label> {{form.company}}</p>
    <a href='/customerlist'><input type="submit" value="Save" id="btn_save"/></a>
</form>
</div>

</body>
</html>